{
  "extends": [
    "airbnb-base"
  ],
  "parser": "babel-eslint",
  "parserOptions": {
    "ecmaFeatures": {
      "ecmaVersion": 2020,
      "sourceType": "module",
      "legacyDecorators": true,
      "jsx": true
    },
    "project": "./tsconfig.json"
  },
  "globals": {
    "Log": true
  },
  "settings": {
    "import/resolver": {
      "node": {
        "extensions": [".js", ".jsx", ".ts", ".tsx"]
      }
    },
    "react": {
      "version": "detect"
    },
  },
  "rules": {
    "max-len": [
      "error",
      120,
      {
        "ignoreComments": true,
        "ignoreStrings": true,
        "ignoreRegExpLiterals": true,
        "ignoreTemplateLiterals": true
      }
    ],
    "import/no-extraneous-dependencies": [
      "error",
      {
        "devDependencies": false,
        "optionalDependencies": false
      }
    ],
    "no-use-before-define": [
      "error",
      {
        "functions": false,
        "classes": false
      }
    ],
    "no-param-reassign": [
      "error",
      {
        "props": false
      }
    ],
    "func-names": [
      "off"
    ],
    "no-restricted-syntax": [
      "error",
      {
        "selector": "LabeledStatement",
        "message": "Labels are a form of GOTO; using them makes code confusing and hard to maintain and understand."
      },
      {
        "selector": "WithStatement",
        "message": "`with` is disallowed in strict mode because it makes code impossible to predict and optimize."
      }
    ],
    "import/prefer-default-export": "off",
    "no-unused-vars": [
      "error",
      {
        "argsIgnorePattern": "^_",
        "ignoreRestSiblings": true
      }
    ],
    "import/extensions": [
      "error",
      "ignorePackages",
      {
        "js": "never",
        "mjs": "never",
        "jsx": "never",
        "ts": "never",
        "tsx": "never",
        "": "never"
      }
    ]
  },
  "overrides": [
    {
      "files": "**/test/**/*.ts",
      "globals": {
        "jest": true,
        "describe": true,
        "xdescribe": true,
        "expect": true,
        "it": true,
        "xit": true,
        "beforeAll": true,
        "afterAll": true,
        "beforeEach": true,
        "afterEach": true
      },
      "rules": {
        "global-require": "off",
        "no-unused-expressions": "off",
        "import/no-extraneous-dependencies": "off"
      }
    }
  ]
}
